.fp-sidebar {
  height: 100%;
  width: 300px;
  left: 0;
  top: 0;
  background-color: var(--fp-sidebar-bg);
  position: fixed;
  z-index: index($list: $index, $value: sidebar);
  overflow: hidden;
  transform: translateX(calc(-100% + var(--sidebar-width)));
  transition: transform var(--fp-time), height var(--fp-time);
}
@media (max-width: 768px) {
  .fp-sidebar {
    width: 100%;
    height: calc(100% - var(--sidebar-width));
    transform: translate(0, calc(var(--sidebar-width)));
  }
}
@import "./sidebarElements/search.scss";
@import "./sidebarElements/edit.scss";
@import "./sidebarElements/info.scss";
@import "./sidebarElements/advanced.scss";

.fp-advanced,
.fp-booth-info {
  position: absolute;
  z-index: 1;
  background-color: var(--fp-search-bg);
  transition: transform var(--fp-time);
  transform: translateX(-100%);
  box-shadow: 1px 0 0 var(--fp-over);
  &.active {
    transform: translateX(0);
  }
}
